<div class="container">

    <div class="panel panel-primary">
      <div class="panel-heading">
        Liste des transactions
      </div>

          <div class="panel-body">
              <table *ngIf="transactions" class="table table-striped table-bordered">
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Montant</th>
                  <th>Emetteur</th>
                  <th>Recepteur</th>
                </tr>
                <tr *ngFor="let t of transactions">
                  <td>{{t.id}}</td>
                  <td>{{t.date}}</td>
                  <td>{{t.montant}}</td>
                  <td>{{t.emetteur.prenom}}</td>
                  <td>{{t.recepteur.prenom}}</td>
                </tr>
              </table>
          </div>

      </div>
</div>

